
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

div {
    display: block;
}

.button-container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 17%;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}

#btn-samsung{
    display: inline-block;
    font-family: 'Samsung Sans', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    height: 50px;
    letter-spacing: 1.2px;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: 100px;
    padding: 12px 25px 0 25px;
    background-color: #13289f;
    border: 2px solid #13289f;
    transition: all 0.5s;
}

#btn-samsung:hover{
    background-color: white;
    color: #13289f;
}

/* nike */
/* nike logo code adapted by https://codepen.io/rebelchris/pen/NWyOwgv */
#btn-nike span{
    display: none;
}
.nike {
    display: inline-block;
    border: 1px solid black;
    background-color: black;
    overflow: hidden;
    width: 170px;
    top: 100px;
    aspect-ratio: 14/5;
    position: relative;
    transition: all 0.3s ease-in-out; 
    &:before,
    &:after {
      content: "";
      position: absolute;
      transition: all 0.3s ease-in-out;
    }
    &:before {
      background: white;
      width: 37%;
      height: 550%;
      bottom: -134%;
      left: 70.5%;
      border-top-left-radius: 48% 17%;
      border-top-right-radius: 120% 40%;
      transform: rotate(-113deg);
      z-index: 1;
    }
    &:after {
      background: black;
      width: 30%;
      height: 400%;
      bottom: -73%;
      left: 64%;
      border-top-left-radius: 64% 14%;
      border-top-right-radius: 125% 46%;
      transform: rotate(-105deg);
      z-index: 2;
    }
  }

  .nike:hover{
    border: 1px solid white;
    background-color: white;
    &:before {
        background-color: black;
    }
    &:after {
        background: white;
    }
  }
  
/* moo */
#btn-moo{
    text-decoration: none;
    display: inline-block;
    background-color: white;

}

#btn-moo span{
    position: absolute;
    top: 220px;
    left: 626px;
    z-index: 5;
    font-family: "Nunito";
    color: white;
    font-size: 20px;
    transition: all .5s;
}

#btn-moo img{
    position: relative;
    color: #05ab74;
    margin: 70px 0px;
    width: 100px;
    height: 110px;
}

#btn-moo:hover span{
    transform: scale(1.2);
    text-shadow: 0 0 8px rgba(255,255,255,0.4);
}

/* foreflight */
#btn-foreflight{
    display: flex;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #012240;
    margin: 100px 40px;
}

#btn-foreflight i{
    font-size: 25px;
    margin: 3px 7px 0px 0px;
    transition: all .5s;
}

#btn-foreflight span{
    font-size: 25px;
    transition: all .5s;
}

#btn-foreflight:hover i{
    transform: scale(1.5) translate(20px, -20px);
}

#btn-foreflight:hover span{
    transform: translateX(-20px);
}

#btn-foreflight span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; 
    width: 0%;
    height: 2px;
    background-color: #012240; 
    transition: width 0.4s ease;
}

#btn-foreflight:hover span::after {
    width: 100%;
}

/* us army */
#btn-army{
    position: relative; 
    overflow: hidden;  
    display: flex;
    text-decoration: none;
    color: #221f20;
    font-family: Impact, Charcoal, sans-serif;
    margin: 100px 20px;
    width: 150px;
    height: 50px;
    background: transparent;
    border-radius: 5px;
    padding: 10px;
    
}

#btn-army::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #221f20;
    z-index: -1;
    transition: width 0.4s ease;
}

#btn-army i{
    font-size: 50px;
    color: #ffcc01;
    font-weight: bold;
    margin: 3px 7px 0px 0px;
    transition: all .5s;
}

#btn-army span{
    font-size: 25px;
    transition: all .5s;
    padding: 10px 0px; 
    transition: all 0.4s;
}

#btn-army:hover::before {
    width: 100%;
}

#btn-army:hover {
    color: #ffcc01;
}