body {
    padding: 10px 100px;
    max-width: 1200px;
    margin: 0px auto;
    background-color: white;
}
    
h1, h2{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin: 20px 0px;
}

.part {
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    margin: 30px 0px;
    padding: 10px 20px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding: 0px 30px;
}

strong {
    font-weight: bold;
    font-size: 1.1em;
}

.peter {
    color: #234563;
}

.dana {
    color: #2A9D8F; 
}

.mayor {
    color: #82624e; 
}

.ray {
    color: #e76f51;
}

.egon {
    color: #6A4C93;
}

.winston {
    color: #ce6a85; 
}

.note{
    font-style: oblique;
    color: #828282;
}