html {
    font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
}

body {
    display: block;
}

header {
    background-image: url("../zelda.jpg");
    width: 100%;
    height: 30rem;
    margin: 0px;
    padding: 0px;
}

header div {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    margin-top: 150px;
}

h1 {
    font-size: 80px;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}

/* s1 */

.s1 {
    background-color: #fff6cf;
    max-width: 100%;
    margin: 0px;
}

.s1 div {
    margin: 0px 250px;
    padding: 20px;
    color: #433212
}

.s1 h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.s1 img {
    width: 400px;
    height: 300px;
    float: right;
    margin: 0px 0px 20px 30px;
}

.s1 p {
    text-align: left;
    font-size: 18px;
    margin: 0px 0px 15px 0px;
    line-height: 1.4;
}

/* s2 */
.s2 {
    background-color: #433212;
    max-width: 1455px;
    margin: 0px;
    height: 685px;
    color: #fff6cf;
}

.s2 div {
    margin: 0px 200px;
    padding: 0px;
}

.s2 h2 {
    text-align: center;
    font-size: 40px;
    margin: 0px 0px 30px;
    padding-top: 35px;
}

.s2 ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-left: 50px;
}

.s2 li {
    list-style-type: none;
    display: block;
    width: 45%;
    max-height: 150px;
    margin: 0px 27px 25px 0px;
}

.s2 img {
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 10px;
}

.image_info {
    display: flex;
    flex-direction: column;
    max-height: 200px;
}

.image_info h3, .image_info p{
    width: 240px;
    margin: 0px;
    padding: 0px;
}

.image_info h3{
    margin: 3px 0px 7px;
    font-size: 20px;
}

.image_info p{
    font-size: 18px;
}

/* s3 */

.s3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    text-align: center;
    padding: 40px 0px;
    margin: 0px;
    background-color: #fff6cf;
    color:#433212;
}

.s3 h2, .s3 p{
    max-width: 50%;
}

.s3 h2{
    font-size: 40px;
    margin-bottom: 6px;
}

.s3 p{
    font-size: 26px;
    max-width: 710px;
}
 
/* footer */
footer{
    margin: 0px;
    background-color:#433212;
    color:#fff6cf;
    width: 100%;
    height: 100px;
}

footer p{
    font-size: 18px;
    padding: 16px 0px 0px 247px;
    margin: 0px;
}